In [1]:
import pandas as pd
 
# List of Tuples
employees = [('Stuti', 28, 'Varanasi'),
             ('Saumya', 32, 'Delhi'),
             ('Aaditya', 25, 'Mumbai'),
             ('Saumya', 32, 'Delhi'),
             ('Saumya', 32, 'Delhi'),
             ('Saumya', 32, 'Mumbai'),
             ('Aaditya', 40, 'Dehradun'),
             ('Seema', 32, 'Delhi')
             ]
 
# Creating a DataFrame object
df = pd.DataFrame(employees,
                  columns=['Name', 'Age', 'City'])
 
# Selecting duplicate rows except last
# occurrence based on all columns.
duplicate = df[df.duplicated(keep='last')]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

     Name  Age   City
1  Saumya   32  Delhi
3  Saumya   32  Delhi

In [2]:
# List to keep track of duplicates
duplicate_indices = []

# Iterate through DataFrame rows
for i in range(len(df)):
    for j in range(i + 1, len(df)):
        if df.iloc[i].equals(df.iloc[j]):
            duplicate_indices.append(i)
            break

# Remove the last occurrence from the duplicates list
last_duplicate_indices = set()
for idx in duplicate_indices:
    # Check if it's the last occurrence
    if not any((df.iloc[idx] == df.iloc[idx + 1:]).all(axis=1)):
        last_duplicate_indices.add(idx)

# Create a DataFrame for duplicates excluding the last occurrence
duplicate = df.loc[duplicate_indices].drop(last_duplicate_indices)

print("Duplicate Rows :")
print(duplicate)

Duplicate Rows :
     Name  Age   City
1  Saumya   32  Delhi
3  Saumya   32  Delhi