# Python for data analysis and visualisation

## Online short course at the University of St Andrews

## Final assignment

### Emma McGlacken Ryan

In [1]:
import pandas as pd

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/test full data.csv")

In [3]:
df

,Record_Number,Region,RESIDENCE_TYPE,Family_Composition,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion,Economic_Activity,Occupation,industry,Hours_Worked_Per_Week,Approximate_Social_Grade,Unnamed: 17,Unnamed: 18
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,2,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2,3,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
3,4,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,25,25,25

## Reading the data types of the columns

pd.read_csv("../data/Scotland_teaching_file_1PCT.csv").dtypes

## Determining Unique Values

### Getting list of columns

In [4]:
get_col = list(pd.read_csv("../data/test full data.csv",nrows=1).columns)
print(get_col)

['Record_Number', 'Region', 'RESIDENCE_TYPE', 'Family_Composition', 'sex', 'age', 'Marital_Status', 'student', 'Country_Of_Birth', 'health', 'Ethnic_Group', 'religion', 'Economic_Activity', 'Occupation', 'industry', 'Hours_Worked_Per_Week', 'Approximate_Social_Grade', 'Unnamed: 17', 'Unnamed: 18']

### Separate the column headings from the rest of the data, in order to help with duplicate identification
Everything has a unique response code so, duplicates won't have a 'Unique reference ID', so duplicate responses will have different IDs, but have the same responese. I therefore removed Record_Number from the columns to be analysed.

In [5]:
responses = pd.read_csv("../data/test full data.csv", skiprows=1)

In [6]:
print(responses)

   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
0  2   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
1  3   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25
2  4  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  25  25  25

duplicate = df.duplicated

In [7]:
file_df = pd.read_csv("../data/test full data.csv")


# Keep only FIRST record from set of duplicates
file_df_first_record = file_df.drop_duplicates(subset=["Record_Number","Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", "religion", "Economic_Activity", "Occupation", "industry", "Hours_Worked_Per_Week", "Approximate_Social_Grade"], keep="first")
file_df_first_record.to_csv("../data/Scotland_teaching_file_1PCT.csv", index=False)

In [8]:
duplicate_row_index = file_df.duplicated(subset=["Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", "religion", "Economic_Activity", "Occupation", "industry", "Hours_Worked_Per_Week", "Approximate_Social_Grade"], keep="first")
all_duplicate_rows = file_df[duplicate_row_index]
duplicate_rows = all_duplicate_rows.drop_duplicates(subset=["Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", "religion", "Economic_Activity", "Occupation", "industry", "Hours_Worked_Per_Week", "Approximate_Social_Grade"], keep="first")
duplicate_rows.to_csv("../data/TEST-Duplicates.csv", index=False)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html

df.drop_duplicates(inplace=True)

# Remove ALL records of a set of duplicates
file_df_remove_all = file_df.drop_duplicates(subset=["Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", "religion", "Economic_Activity", "Occupation", "industry", "Hours_Worked_Per_Week", "Approximate_Social_Grade"], keep=False)
file_df_remove_all.to_csv("TEST-Duplicates_All_Removed.csv", index=False)

# Keep only FIRST record from set of duplicates
file_df_first_record = file_df.drop_duplicates(subset=["Record_Number","Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", "religion", "Economic_Activity", "Occupation", "industry", "Hours_Worked_Per_Week", "Approximate_Social_Grade"], keep="first")
file_df_first_record.to_csv("TEST-Duplicates_First_Record.xlsx", index=False)

file_df_first_record = file_df.drop_duplicates(
    subset=["Region", "RESIDENCE_TYPE", "Family_Composition", "sex", "age", 
            "Marital_Status", "student", "Country_Of_Birth", "health", "Ethnic_Group", 
            "religion", "Economic_Activity", "Occupation", "industry", 
            "Hours_Worked_Per_Week", "Approximate_Social_Grade"], 
    inplace=True
)
file_df_first_record.to_csv("TEST-Duplicates_First_Record.csv", index=False)