# Testing Solutions

Testing actual solutions to this

In [13]:
import pandas as pd

In [39]:
file_name = 'project_data.csv'

data = {'Record_Number': [],
'Region': [],
'RESIDENCE_TYPE': [],
'Family_Composition': [],
'sex': [],
'age': [],
'Marital_Status': [],
'student': [],
'Country_Of_Birth': [],
'health': [],
'Ethnic_Group': [],
'religion': [],
'Economic_Activity': [],
'Occupation': [],
'industry': [],
'Hours_Worked_Per_Week': [],
'Approximate_Social_Grade': []
       }

In [108]:
data = {
    'Record_Number': list(range(1, 63389)),
    'Region': ['S92000003'],
    'RESIDENCE_TYPE': ['P', 'C'],
    'Family_Composition': ['1', '0', '4', '2', '5', '3', 'X'],
    'sex': [1, 2],
    'age': [4, 3, 6, 5, 1, 2, 7, 8],
    'Marital_Status': [2, 1, 4, 3, 5],
    'student': [2, 1],
    'Country_Of_Birth': [2, 1],
    'health': [2, 3, 1, 4, 5],
    'Ethnic_Group': [1, 2, 4, 3, 6, 5],
    'religion': [5, 1, 2, 9, 6, 8, 4, 7, 3],
    'Economic_Activity': ['1', 'X', '5', '6', '9', '4', '2', '7', '3', '8'],
    'Occupation': ['5', '1', '4', '2', '3', '9', 'X', '8', '6', '7'],
    'industry': ['5', '8', '11', '9', 'X', '2', '4', '6', '7', '10', '3', '12', '13', '1'],
    'Hours_Worked_Per_Week': ['4', '3', '2', 'X', '1'],
    'Approximate_Social_Grade': ['3', '2', '4', 'X', '1']
}

In [40]:
file_name = 'project_data.csv' 
df = pd.read_csv(file_name)

## Finding unique values
I used the code below to figure out the unique values for each column. I copy pasted the name of the column into the code on line 42, one at a time. I took them from the list above called Line 45. I then updated it to create Line 46. I ignored Column 1 Record_Number. When I originally printed Record_Number, this was the output [    1     2     3 ... 63386 63387 63388]

This covers part of the assessment: 
'for each variable except “Record_Number” and “Region”, find all different values that it takes, and the number of occurrences for each value'

In [124]:
column_name = 'Family_Composition'

In [125]:
unique_values = df[column_name].unique()

In [126]:
print(unique_values)

['1' '0' '4' '2' '5' '3' 'X']

## Finding duplicates
Then I used this code to find duplicates

In [127]:
duplicate_values = df[column_name].duplicated()

In [128]:
print(duplicate_values)

0        False
1        False
2         True
3         True
4        False
         ...
63383     True
63384     True
63385     True
63386     True
63387     True
Name: Family_Composition, Length: 63388, dtype: bool