In [3]:
import pandas as pd
df = pd.read_csv('Scotland_teaching_file_1PCT.csv')

real_data = {
    'Record_Number': list(range(1, 63389)),
    'Region': ['S92000003'],
    'RESIDENCE_TYPE': ['P', 'C'],
    'Family_Composition': ['1', '0', '4', '2', '5', '3', 'X'],
    'sex': [1, 2],
    'age': [4, 3, 6, 5, 1, 2, 7, 8],
    'Marital_Status': [2, 1, 4, 3, 5],
    'student': [2, 1],
    'Country_Of_Birth': [2, 1],
    'health': [2, 3, 1, 4, 5],
    'Ethnic_Group': [1, 2, 4, 3, 6, 5],
    'religion': [5, 1, 2, 9, 6, 8, 4, 7, 3],
    'Economic_Activity': ['1', 'X', '5', '6', '9', '4', '2', '7', '3', '8'],
    'Occupation': ['5', '1', '4', '2', '3', '9', 'X', '8', '6', '7'],
    'industry': ['5', '8', '11', '9', 'X', '2', '4', '6', '7', '10', '3', '12', '13', '1'],
    'Hours_Worked_Per_Week': ['4', '3', '2', 'X', '1'],
    'Approximate_Social_Grade': ['3', '2', '4', 'X', '1']
}

In [10]:
expected_formats = {
'Record_Number': list(range(1, 63389)),
    'Region': ['S92000003'],
    'RESIDENCE_TYPE': ['C', 'P'],
    'Family_Composition': ['0', '1', '2', '3', '4', '5', 'X'],
    'sex': [1, 2],
    'age': [1, 2, 3, 4, 5, 6, 7, 8],
    'Marital_Status': [1, 2, 3, 4, 5],
    'student': [1, 2],
    'Country_Of_Birth': [1, 2],
    'health': [1, 2, 3, 4, 5],
    'Ethnic_Group': [1, 2, 4, 3, 5, 6],
    'religion': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'Economic_Activity': ['1', '2', '3', '4', '5', '6', '7' '8', '9', 'X'],
    'Occupation': ['1', '2', '3', '4', '5', '6', '7' '8', '9', 'X'],
    'industry': ['1', '2', '3', '4', '5', '6', '7' '8', '9', '10', '11', '12', '13', 'X'],
    'Hours_Worked_Per_Week': ['1', '2', '3', '4', 'X'],
    'Approximate_Social_Grade': ['1', '2', '3', '4', 'X']
}

In [ ]:
Column 1 of expected_formats = 'Record_Number': referred to as col1_EF
Column 1 of real_data = 'Record_Number': referred to as col1_RD

col1_EF = np.array({
'Record_Number': list(range(1, 63389)),
})
col1_RD = np.array({
    'Record_Number': list(range(1, 63389)),
})

In [18]:
import numpy as np

col1_EF = np.array({expected_formats{
'Record_Number': list(range(1, 63389)),
}})
col1_RD = np.array(real_data{{
    'Record_Number': list(range(1, 63389)),
}})

print(np.setdiff1d(col1_EF, col1_RD))

print(np.setdiff1d(col1_RD, col1_EF))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (54843909.py, line 3)